body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}
.Product-List {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
}
.Card {
    background-color: cyan;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 60, 80, 0.35);
    
}
.Card img {
    width: 100%;          
    height: 180px;        
    object-fit: cover; 
    border-radius: 8px;
}
.price {
font-weight: bold;
}
.Card {
    transition: 0.3s;
}
.Card:hover{
    transform: scale(1.05);
    box-shadow: 15px 15px 15px rgba(0, 60, 80, 0.5);
}
button {
    font-weight: bold;
    border-radius: 2px; 
    margin-top: 10px;   
    padding: 10px 15px;
    border: none;
    background-color: #1d3557;
    color:white;
    cursor: pointer;
}
button:hover {
    background: #457b9d;
}
@media (max-width: 768px) {
    .product-list {
        grid-template-columns: 1fr;
    }
}
